.web-nav-button {
  color: white;
  text-decoration: none;
}

.table-content {
  margin-top: 6%;
  margin-bottom: 80px;
  padding: 0% !important;
}

.img-content {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.add-data-box {
  margin-top: 35% !important;
}

.table-container {
  min-height: 50vh;
}

.user-post-inputbox {
  margin-top: 17px !important;
}

.user-post-tagbox {
  margin-top: 5px;
}

.chartView {
  margin-top: 9%;
}

.progressbar {
  margin-left: 50%;
  margin-top: 5%;
}

.update-btn {
  color: blue
}

.delete-btn {
  color: red
}

.comment-btn {
  color: green
}

.add-btns {
  margin-bottom: 15px !important;
}

.comment-msg {
  text-align: center;
}

.footer {
  bottom: 0%;
  position: fixed !important;
}

.footer-text {
  justify-content: center;
}

.grid-btn {
  margin-left: 82%;
}

.gridpost {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 80px;
}

.likeText {
  font-size: 12px;
}

.postIcons {
  gap: 6px;
  margin-left: 8px;
}

.grid-edit-post {
  color: black;
}

.post-switch {
  font-size: xx-large;
  float: right;
}

.grid-app-icon {
  font-size: 27px !important;
  float: right;
}

.post-grid-header2 {
  margin-top: 6% !important;
}

#grid-add-post-btn {
  margin-left: 100px;
}

.grid-add-post-btn {
  margin-left: 100px !important;
}

#grid-app-icon {
  margin-right: 19%;
}

.list-icon {
  float: right;
  font-size: 32px !important;
}